.flight_search {
  .box_content {
    overflow: visible;
  }
  .container {
    height: 100%;
    @include display_flex(column);
    .options {
      @include display_flex();
      position: relative;
      top: -27px;
      padding-left: 86px;
      height: 0px;
      .box {
        @include display_flex();
        @include flex();
        height: 24px;
        flex-direction: row-reverse
      }
    }
    .content{
      @include display_flex(column);
      @include flex();
      position: relative;
    }
    .flight-list {

      @include display_flex(column);
      @include flex();
      width: 100%;
      overflow: auto;
      .ant-list-item {
        cursor: pointer;
        padding: 4px;
        &:hover {
          background: #4065ff
        };
      }
      .list-nav {
        padding: 4px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background: #232425;
        z-index: 1;
        //box-shadow: 0 6px 16px -8px rgba(0,0,0,.32), 0 9px 28px 0 rgba(0,0,0,.2), 0 12px 48px 16px rgba(0,0,0,.12);
        box-shadow: -6px 0 16px -8px rgba(0,0,0,.5), -9px 0 28px 0 rgba(0,0,0,.5), -12px 0 48px 16px rgba(0,0,0,.5);
        @include display_flex();
        flex: 0 1 auto;

        .flight-prop {
          @include flex();
          visibility: visible;
          text-align: center;
        }
        .num {
          flex: 0 0 50px;
        }
        .flight-id, .flight-sobt , .flight-former {
          //flex: 1 1 10%;
        }

      }
      .flight-item {
        @include display_flex();
        @include flex();
        .flight {
          text-decoration: none;
          color: inherit;
          @include display_flex();
          @include flex();
          .flight-prop {
            @include flex();
            visibility: visible;
            text-align: center;
          }
          .num {
            flex: 0 0 50px;
          }

          //.flight-id, .flight-sobt, .flight-former {
          //  flex: 1 1 10%;
          //}

        }
      }
    }
    .title-flight-id {
      cursor: pointer;
    }
    .flight-summary-drawer {
      .ant-drawer-content-wrapper {
        box-shadow: -6px 0 16px -8px rgba(0,0,0,.5), -9px 0 28px 0 rgba(0,0,0,.5), -12px 0 48px 16px rgba(0,0,0,.5);
        //border-radius: 4px;
        //border-left: 1px solid $c-white-15;

      }

      .flight-summary {
        @include display_flex();
        .descriptions {
          @include flex();
        }
        .ap {
          flex: 0 1 80px;
        }
      }
      .summary-nav{
        color: #5bc0de;
      }
    }

  }
  .flight-search {
    .ant-input {
      text-transform: uppercase;
    }
  }
}