.layout{
    @include display_flex();
    .nav_bar{
        height: 44px;
    }
    .nav_body{
        @include flex();
        @include display_flex();
        .cont_left{
            @include flex(2);
            .timeline_dom{
                height: 100%;
                >div{
                    width: 300px;
                    display: inline-block;
                    height: 100%;
                }
                
            }
        }
        .cont_center{
            @include display_flex(column);
            @include flex(3);
        }
        .cont_right{
            width: 450px
            @include display_flex(column);
        }
    }
    .flight_search{
        height: 330px;
    }
}

