.nav-header{
    height: 44px !important;
    line-height: 44px!important;
}
.nav-right{
    float: right;
    .bell-icon{
        font-size: 20px;
        position: relative;
        top:3px;
    }
    .user-icon{
        margin: -1px 10px 0 30px;
    }
    .user-name{
        color: $red;
    }
}