.flight_card{
    .flight_item{
        display: inline-block;
        margin: 0 3px;
        
    }
    .dep{
        background-color: #008200;
    }
    .arr{
        background-color: #0076F7;
    }
}