.flight_card{
    .flight_item{
        display: inline-block;
        width: 55px;
        @include scale(0.85);
        border: 1px solid rgb(173, 171, 171);
        >div{
            
            display: inline-block;
        }
    }
    .dep{
        background-color: #008200;
    }
    .arr{
        background-color: #0076F7;
    }
}