.filter_header{
    margin: 5px 50px;
    >span{
        display: inline-block;
        width: 50%;
    }
    .unit_name{
        font-size: 22px;
        color: orange;
        text-align: center;
    }
    .filter_dom{
        font-size: 18px;
    }
}