.list_container{
    .item_container{
        border-bottom: 1px solid #ddd;
        margin: 0 8px;
        height: 36px;
        .item_name{
            font-size: 18px;

        }
        .item_check{
            margin: 0 10px;
        }
        .normal_rate{
            display: inline-block;
            float: right;
            margin-right: 15px;
            color: orange;
        }
    }
}
