
$height100: 100vh;
$navHeight: 44px;
.modal_box{
    height: $height100 - $navHeight;
    margin: 10px;
    background: rgba(0,0,0,0.35);
    .box_header{
        background: rgba(0,0,0,0.35);
        height: 40px;
        line-height: 40px;
        // .title{
            padding-left: 10px;
            font-size: 20px;
        // }
    }
}

