

.modal_box{
    @include display_flex();
    $margin: 10px;
    height: calc(100% - $margin*2 );
    margin: $margin;
    background: rgba(0,0,0,0.35);
    
    .box_header{
        background: rgba(0,0,0,0.35);
        height: 40px;
        line-height: 40px;
        // .title{
            padding-left: 10px;
            font-size: 20px;
        // }
    }
    .box_content{
        @include flex()
    }
}

