.modal-box{
    // width:  150px;
    // height: 100vh;
    background: rgba(0,0,0,0.35);
    .box-header{
        background: rgba(0,0,0,0.35);
        height: 40px;
        line-height: 40px;
        // .title{
            
        // }
    }
}

