
.total_body{
    @include display-flex(column);
    @include flex();
    .cont_top{
        @include display-flex();
        @include flex();
        .cont_top_left{
            @include flex();
        }
        .cont_top_right{
            @include flex(2);
        }
    }
    .cont_bottom{
        @include flex();
        
    }
}
